In [1]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c=a+b
print("sum :",c)

Enter the first number5
Enter the second number6
sum : 11

In [2]:
e = float(input("Enter the first number"))
f = float(input("Enter the second number"))
g=e+f
print("sum :",g)

Enter the first number5
Enter the second number6
sum : 11.0

In [3]:
qw = float(input("Enter the first number"))
er = float(input("Enter the second number"))
gh=qw+er
print("division :",gh)

Enter the first number25
Enter the second number5
division : 30.0

In [4]:
ui = float(input("Enter the length of the base of the triangle"))
iu = float(input("Enter the height of the triangle"))
AA=(ui*iu)/2
print("Area of triangle :",AA)

Enter the length of the base of the triangle10
Enter the height of the triangle15
Area of triangle : 75.0

In [8]:
celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (9/5 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
37
Temperature in Fahrenheit : 98.60000000000001

In [6]:
type(celsius)

int

In [7]:
type("Naveed")

str

In [15]:
m=int(input("Enter any number"))
print("Your first input type is" ,type(m))
n=float(input("Enter any point number"))
print("your second input type is" ,type(n))
o=str(input("Enter any name"))
print("you third input type is" ,type(o))

Enter any number12
Your first input type is <class 'int'>
Enter any point number11.12
your second input type is <class 'float'>
Enter any name"NAVEED"
you third input type is <class 'str'>

In [18]:
type(True)

bool

In [20]:
p=bool(input("Enter any true value"))
print("your fourth input type is" ,type(p))

Enter any true valueTrue
your fourth input type is <class 'bool'>